<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Home Page</title>
<link th:href="@{/styles/table.css}" rel="stylesheet"/>
<link th:href="@{/styles/nav.css}" rel="stylesheet"/>

</head>
<body>
	<h1> E-Learning </h1>
	<div class="size">	
		<span><a href="/">Home</a></span>
		
		<span><a href="/userList">User</a></span>
		
		<span><a href="/adminList">Admin</a></span>
		
		<span><a href="/courseList">Courses</a></span>
		
		<span><a href="/feedbackList">Feedbacks</a></span>
		
		<span><a href="/contactList">Contacts</a></span>
		
		<hr/>
		<hr/>
	</div>
	<h2>Admin</h2>

	<table>
		<thead>
			<tr>
				<th>Admin Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Password</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${admins.empty}">
				<td colspan="2">No Users Added</td>
			</tr>
			<tr th:each="admin : ${admins}">
				<td><span th:text="${admin.admin_id}"></span></td>
				<td><span th:text="${admin.name}"></span></td>
				<td><span th:text="${admin.email}"></span></td>
				<td><span th:text="${admin.password}"></span></td>
				<td><a th:href="@{'updateAdmin/' + ${admin.admin_id}}">Update</a></td>
				<td><a th:href="@{'deleteAdmin/' + ${admin.admin_id}}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	
	<p><a href="newAdminForm" >Add new Admin</a></p>
</body>
</html>