<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Contact Home Page</title>
<link th:href="@{/styles/table.css}" rel="stylesheet"/>
<link th:href="@{/styles/nav.css}" rel="stylesheet"/>
</head>
<body>
	<h1> E-Learning </h1>
	<div class="size">	
		<span><a href="/">Home</a></span>
		
		<span><a href="/userList">User</a></span>
		
		<span><a href="/adminList">Admin</a></span>
		
		<span><a href="/courseList">Courses</a></span>
		
		<span><a href="/feedbackList">Feedbacks</a></span>
		
		<hr/>
		<hr/>
	</div>
	
	<h2>Contacts</h2>
	
	<table>
		<thead>
			<tr>
				<th>Contact Id</th>
				<th>User Id</th>
				<th>Name</th>
				<th>Phone No.</th>
				<th>Email</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${contacts.empty}">
				<td colspan="2">No Users Added</td>
			</tr>
			<tr th:each="contact : ${contacts}">
				<td><span th:text="${contact.contact_id}"></span></td>
				<td><span th:text="${contact.user_id}"></span></td>
				<td><span th:text="${contact.name}"></span></td>
				<td><span th:text="${contact.phone_no}"></span></td>
				<td><span th:text="${contact.email}"></span></td>
				<td><span th:text="${contact.message}"></span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>