<!DOCTYPE html>

<html>

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
	<form style="margin:20px; border-style:solid; padding:20px;">
		<div style="margin:10px; border:1px"; >
			<label for="user_id" style="margin:5px">User ID</label> 
			<br/>
			<input style="margin:5px" type="text" id="user_id"  placeholder="Enter User ID">

		</div>
		
		<div style="margin:10px; border:1px"; >
			<label for="name" style="margin:5px">Name</label> 
			<br/>
			<input style="margin:5px" type="text" id="name"  placeholder="Enter Name">

		</div>
		
		<div style="margin:10px; border:1px"; >
			<label for="=Email" style="margin:5px">Email address</label> 
			<br/>
			<input style="margin:5px" type="email" id="email"  placeholder="Enter Email">

		</div>
		
		<div style="margin:10px; border:1px"; >
			<label for="phone" style="margin:5px">Phone</label> 
			<br/>
			<input style="margin:5px" type="text" id="phone"  placeholder="Enter Phone Number">

		</div>
		
		<div style="margin:10px; border:1px"; >
			<label for="message" style="margin:5px">Message</label> 
			<br/>
			<textarea style="margin:5px" rows="3" id="message"  placeholder="Enter Your Message"></textarea>

		</div>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>

</html>