<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course Home Page</title>
<link th:href="@{/styles/table.css}" rel="stylesheet"/>
<link th:href="@{/styles/nav.css}" rel="stylesheet"/>
</head>
<body>
	<h1> E-Learning </h1>
	<div class="size">	
		<span><a href="/">Home</a></span>
		
		<span><a href="/userList">User</a></span>
		
		<span><a href="/adminList">Admin</a></span>
		
		<span><a href="/courseList">Courses</a></span>
		
		<span><a href="/feedbackList">Feedbacks</a></span>
		
		<span><a href="/contactList">Contacts</a></span>
		
		<hr/>
		<hr/>
	</div>
	
	<h2>Course</h2>

	<table>
		<thead>
			<tr>
				<th>Course Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Fees</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${courses.empty}">
				<td colspan="2">No Users Added</td>
			</tr>
			<tr th:each="course : ${courses}">
				<td><span th:text="${course.course_id}"></span></td>
				<td><span th:text="${course.c_name}"></span></td>
				<td><span th:text="${course.c_desc}"></span></td>
				<td><span th:text="${course.c_fees}"></span></td>
				<td><a th:href="@{'updateCourse/' + ${course.course_id}}">Update</a></td>
				<td><a th:href="@{'deleteCourse/' + ${course.course_id}}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	
	<p><a href="newCourseForm" >Add new Course</a></p>
</body>
</html>