<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Feedback Home Page</title>
<link th:href="@{/styles/table.css}" rel="stylesheet"/>
<link th:href="@{/styles/nav.css}" rel="stylesheet"/>
</head>
<body>
	<h1> E-Learning </h1>
	<div class="size">	
		<span><a href="/">Home</a></span>
		
		<span><a href="/userList">User</a></span>
		
		<span><a href="/adminList">Admin</a></span>
		
		<span><a href="/courseList">Courses</a></span>
		
		<span><a href="/feedbackList">Feedbacks</a></span>
		
		<hr/>
		<hr/>
	</div>
	
	<h2>Feedbacks</h2>
	
	<table>
		<thead>
			<tr>
				<th>Feedback Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Feedback</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${feedbacks.empty}">
				<td colspan="2">No Feedbacks Yet</td>
			</tr>
			<tr th:each="f : ${feedbacks}">
				<td><span th:text="${f.f_id}"></span></td>
				<td><span th:text="${f.name}"></span></td>
				<td><span th:text="${f.email}"></span></td>
				<td><span th:text="${f.fb}"></span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>