<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Operation Status</title>
<link th:href="@{/styles/nav.css}" rel="stylesheet"/>
</head>
<body>
	<h1> E-Learning </h1>
	<div class="size">	
		<span><a href="/">Home</a></span>
		
		<span><a href="/userList">User</a></span>
		
		<span><a href="/adminList">Admin</a></span>
		
		<span><a href="/courseList">Courses</a></span>
		
		<span><a href="/feedbackList">Feedbacks</a></span>
		
		<hr/>
		<hr/>
	</div>
	
	<span th:text="${message}"></span>
	
</body>
</html>