<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Home Page</title>
<link th:href="@{/styles/table.css}" rel="stylesheet"/>
<link th:href="@{/styles/nav.css}" rel="stylesheet"/>
</head>
<body>
	<h1> E-Learning </h1>
	<div class="size">	
		<span><a href="/">Home</a></span>
		
		<span><a href="/userList">User</a></span>
		
		<span><a href="/adminList">Admin</a></span>
		
		<span><a href="/courseList">Courses</a></span>
		
		<span><a href="/feedbackList">Feedbacks</a></span>
		
		<hr/>
		<hr/>
	</div>
	
	<h2>User</h2>
	
	<table>
		<thead>
			<tr>
				<th>User Id</th>
				<th>Name</th>
				<th>Phone No.</th>
				<th>Email</th>
				<th>Address</th>
				<th>Registration Date</th>
				<th>Update</th>
				<th>Delete</th>
				<th>Feedback</th>
				<th>Contact</th>
				<th>Profile</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${users.empty}">
				<td colspan="2">No Users Yet</td>
			</tr>
			<tr th:each="user : ${users}">
				<td><span th:text="${user.user_id}"></span></td>
				<td><span th:text="${user.name}"></span></td>
				<td><span th:text="${user.phone_no}"></span></td>
				<td><span th:text="${user.email}"></span></td>
				<td><span th:text="${user.address}"></span></td>
				<td><span th:text="${user.reg_date}"></span></td>
				<td><a th:href="@{'updateUserForm/' + ${user.user_id}}">Update</a></td>
				<td><a th:href="@{'deleteUser/' + ${user.user_id}}">Delete</a></td>
				<td><a th:href="@{'newFeedbackForm/' + ${user.user_id}}">Add Feedback</a></td>
				<td><a th:href="@{'newContactForm/'  + ${user.user_id}}">Add Contact</a></td>
				<td><a th:href="@{'userProfile/' + ${user.user_id}}">Profile</a></td>
			</tr>
		</tbody>
	</table>
	
	<p><a href="newUserForm" >Add new User</a></p>
</body>
</html>